*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background-color: #222;
  width: 100%;
  height: 100vh;

}
/* Todolist */
.divcontainer{
  width: 400px;
  height: 500px;
  background-color: #222;
  /* position: absolute;
  transform: translateX(-50%); */
  color: #fff;
  margin: auto;

border-radius: 15px;
border: 10px;
/* text-align:none; */
box-shadow: 10px 10px 13px #000,
            -10px -10px 13px #0007;
/* box-shadow: 10px 10px 13px #0002,
           -10px -10px 13px #fff7; */

}


.todoform{
margin: 20px;
height: 40px;
width: 100%;
}

ul li{
  padding: 15px;
}

ul {
  padding: 5px;
  margin: 5px 0;

}
li{
  padding: 7px 7px;
  /* margin: 15px 0; */
  list-style: none;
  text-transform: capitalize;
  box-shadow: 5px 5px 5px #000,
              -5px -5px 5px #0007;
animation: opacity 0.2s linear;
}
@keyframes opacity {
  from {
    opacity: 0;
    transform: scale(0,7);
  }
}

ul li .listRow{
  float:right;


}
ul li .listRow i{
margin-left: 10px;
cursor: pointer;

}
.secondinput{
  padding: 5px
}
.edit{
  color: teal;
}
.delete{
  color:crimson;
}

.active{
  animation: del 0.3s linear;
}
@keyframes del {
  to{
    opacity: 0s;
    transform: rotate(15deg) skew(25deg) scale(0.5);
  }
}

.todobutton, .todoinput{
border:none;
width: 250px;
height: 100%;
margin-left:25px;
background: transparent;
border-radius: 5px;
outline: none;
padding:0 5px;
box-shadow:inset -5px -5px 5px #000,
          inset  5px 5px 5px #000;

}

.todoinput{
  background-color: #000;
  color: #fff;
}
.todobutton{
  width: 80px;
  letter-spacing: 3px;
  cursor: pointer;
  margin-left: 15px;
  background: #000;
  /* background-color: #222!important; */
  color: #fff;
  box-shadow:-5px -5px 5px #000,
             5px 5px 5px #222;

}

.todotext{
text-align: center;
font-size: 50px;
text-transform: capitalize;
margin-top: 50px ;
color: #222;
text-shadow: -3px -3px 3px #222,
            3px 3px 3px #000;
}
h2{
  text-align: center;
  font-size: 2em;
  color: teal;
  margin-top: 50px;
  margin-bottom: 20px;
  transform: capitalize;

}
ul li input{
  background: transparent;
  width: 70%;
  border: none;
  outline: none;
  box-shadow:inset -2px -2px 2px #000,
            inset  2px 2px 2px #000;
color: #fff;
}
